
.search-input{
    color: #0FB1F8;
    border-radius: 45px;
    padding: 3px 15px;
    width: 70px;
    font-weight: 500;
    font-size: 1.2em;
    transition: width 0.7s;
    outline: none;
  }

  .search-input-writing {
    width: 200px;
  }
  