.blue-background {
    background: #0fb1f8;
  }
  
  .top-bar-search-input {
    position: absolute;
    right: 10px;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  .top-bar-text{
    color: #ffffff;
    font-weight: bolder;
    font-size: 2em;
  }
  
  